Cython==3.0.2
librosa==0.10.1
matplotlib==3.7.2
numpy==1.24.4
scipy==1.11.2
tensorboard==2.14.0
onnx==1.14.1
onnxruntime==1.15.1
gradio
vector_quantize_pytorch
vinorm
text2phonemesequence
py_vncorenlp